html {
    height: 100%;
    background: radial-gradient(at top,#f2f2f2,#fafafa 50%) no-repeat;
}

.threeDpitch-font {
   font-family: "Trebuchet MS", "Lucida Grande","Verdana", "Lucida", "Geneva", "Helvetica","Arial","sans-serif";
}
.threeDpitch-title {
    display: block;
    horiz-align: center;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    color: #555;
    font-size: 2em;
}
.threeDpitch-selector-parent {
    display: block;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    color: DimGray;
    font-size: 1em;
    margin: 5px;
    width: 100%;
}
.threeDpitch-selector{
    display: block;
    font-size: 1em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-right: 10px;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
}

.threeDpitch-shadowed {
    filter: shadow(3px 3px 6px rgba(0,0,0,0.5));
    -moz-filter: shadow(3px 3px 6px rgba(0,0,0,0.5));
    -webkit-filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.5));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=3, Color=\'#444\')";
}

.threeDpitch-light-shadowed {
    filter: shadow(3px 3px 6px rgba(0,0,0,0.25));
    -moz-filter: shadow(3px 3px 6px rgba(0,0,0,0.25));
    -webkit-filter: drop-shadow(3px 3px 6px rgba(0,0,0,0.25));
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=3, Color=\'#444\')";
}

.threeDpitch-highlight-shadowed {
    filter: shadow(3px 3px 6px rgba(238, 244, 66,1));
    -moz-filter: shadow(3px 3px 6px rgba(238, 244, 66,1));
    -webkit-filter: drop-shadow(3px 3px 6px rgba(238, 244, 66,1));
    border-color: rgb(77, 144, 254);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=3, OffY=3, Color=\'#eef442\')";
}

.threeDpitch-label {
    text-align: left;
    display: block;
    font-size: 1em;
    margin-bottom: 5px;
}
.threeDpitch-selector-div{
    display: inline-block;
    margin: 10px;
}

.threeDpitch-back-div {
    position:absolute;
    left: 5px;
    top: 5px;
}
.threeDpitch-back-arrow {
    display: inline-block;
    vertical-align: middle;
    cursor: auto;
}
.threeDpitch-back-arrow:hover {
    cursor: pointer;
}

.threeDpitch-back-label {
    display: inline-block;
    vertical-align: middle;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}
.container {
    position: relative;
    display: block;
}

.threeDpitch-button {
    cursor: auto;
    background-color: antiquewhite;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
}

#threeDpitch-button-div {
    top: 5px;
    right: 5px;
    position: absolute;
}

.threeDpitch-button:hover {
    cursor: pointer;
}

.threeDpitch-secondary-title {
    display: block;
    horiz-align: center;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
    font-size: 2em;
    color: #212121;
}

.clicky {
    /** Offset the Position **/
    position: relative;
    top: 0;
    margin-top: 0;
    margin-left: 5px;
    margin-bottom: 5px;

    /** 3D Block Effect **/
    box-shadow: 0 5px 0 0 #777;

    /** Make it look pretty **/
    display: block;
    background: #aaa;
    color: #000;
    padding: .25em .5em;
    border: 0;
    cursor: pointer;
    font-size: 1em;
    opacity: 0.9;
    border-radius: 10px;
}

.clicky:active {
    /** Remove 3D Block Effect on Click **/
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 5px;
}

.clicky:hover {
    opacity: 1;
}

.clicky:active,
.clicky:focus {
    /** Remove Chrome's Ugly Yellow Outline **/
    outline: 0;
}
